body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.half {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.top-header {
  background-color: red !important;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding: 15px;
  border-bottom: 2px solid darkred;

}

.bottom-footer {
  background-color: blue !important;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding: 15px;
  border-top: 2px solid darkblue;
}

.top-header,
.bottom-footer {
  padding: 10px;
  text-align: center;
  background-color: #ddd;
}

.top-half {
  background-color: #f0f0f0;
}

.bottom-half {
  background-color: #e0e0e0;
}

.columns-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.column {
  flex: 1;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column:not(:last-child) {
  border-right: 1px solid #ccc;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  flex-grow: 1;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #ddd;         /* Add a border */
  border-radius: 10px;             /* Rounded corners */
  padding: 10px;                  /* Add some padding */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Subtle shadow (optional) */
  background-color: #fff; /* Optional: White background for better contrast */
  transition: transform 0.2s ease; /* Smooth hover effect */
}

.image-container:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}



.image-container img {
  display: block;
  max-width: 100%;
  max-height: calc(100% - 40px); /* Leave room for the caption */
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;    /* Slightly smaller radius than the container */

}

.caption {
  margin-top: 1px;              /* Add some top margin for separation */
  font-weight: bold;            /* Make caption text bold */
  font-size: 1em; /* Increased font-size */           /* Darker gray text */
  text-align: center;
  /* width: calc(100% - 20px); Adjust caption width to account for container padding */
  padding: 5px;  /* Add padding */
  background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent background */
  color: white;
  border-radius: 5px; /* Rounded corners */
}


/* Modal Styles */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 900px;
  position: relative;
  border-radius: 8px;
  text-align: center;
  max-height: 90%;
  overflow: auto;
}

.modal-match-image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.modal-match-image img {
  max-width: 100%;
  display: block;
  height: auto;
}

.close-button {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal-match-caption {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c3e50;
  margin-top: 10px;
}